version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: sneaker-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: mysqlpassword
      MYSQL_DATABASE: sneaker_shop
      MYSQL_USER: sneaker_user
      MYSQL_PASSWORD: mysqlpassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: sneaker-backend
    restart: unless-stopped
    env_file:
      - ./backend/.env

    depends_on:
      - db
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
      dockerfile: sneaker-shop/Dockerfile
    container_name: sneaker-frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "5173:5173"

volumes:
  db_data:
